<!doctype html>
<html>
<head>
    <title><%= shopName %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1 class="main-title">Welcome to <%= shopName %></h1>
    <h2 class="sub-title">Here are some things that we sell:</h2>
    <ul class="product-list">
        <% productCategories.forEach(function(category) { %>
            <li class="product-item"><%= category %></li>
        <% }); %>
    </ul>
</body>
</html>
